<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Paradas de autobús</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}


</style>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <span class="w3-bar-item w3-right">Busca dónde estás situado</span>
</div>


<div class="w3-col s4">
    <a th:href="@{/}"><img src="../images/logo_alcobendas.jpg" class="w3-margin-right" style="width:100px"/></a>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:130px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> Servicio de autobuses de la ciudad de Alcobendas</b></h5>
    </header>

    <div class="w3-container">
        <div>
            <a th:href="@{/routes}">
                <button class="w3-button w3-border w3-teal w3-half w3-padding-16">
                    <div class="w3-left"><i class="fa fa-bus w3-xxxlarge"></i></div>
                    <h2>Líneas de autobús</h2>
                </button>
            </a>
        </div>
        <div>
            <a th:href="@{/stops}">
                <button class="w3-button w3-border w3-blue w3-half w3-padding-16">
                    <div class="w3-left"><i class="fa fa-map w3-xxxlarge"></i></div>
                    <h2>Paradas de autobús</h2>
                </button>
            </a>
        </div>
    </div>

    <div class="w3-panel w3-red">
        <h1> ERROR!!</h1>
        <p>No existe ninguna parada con ese código</p>
    </div>

    <form role="search" th:action="@{/search}" method="get">
        <label for="idParada">Introduce el código de la parada</label>
        <input type="text" id="idParada" name="idParada" placeHolder="Ej: 06864"/>
        <input type="submit" value="Buscar"/>
    </form>

    <!-- Footer -->
    <footer class="w3-container w3-padding-16 w3-light-grey">
        <p>Powered by <a href="http://datos.alcobendas.org/dataset?tags=Autob%C3%BAs&amp;groups=transporte">Ayuntamiento de Alcobendas</a></p>
    </footer>
    
</div>
</body>
</html>